<h3>
  Upcoming Events
  <button type="button" class="btn btn-outline-primary">View All</button>
</h3>
<div class="events">
  <div class="row">
    <div class="col-sm-3 date">
      <div class="dd">23</div>
      <div class="mon">Nov</div>
    </div>
    <div class="col-sm-9">
      <h5>Kalotsavam - 2023</h5>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
      </p>
      <button type="button" class="btn btn-outline-primary">Read More</button>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3 date">
      <div class="dd">25</div>
      <div class="mon">DEC</div>
    </div>
    <div class="col-sm-9">
      <h5>Christmas</h5>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
      </p>
      <button type="button" class="btn btn-outline-primary">Read More</button>
    </div>
  </div>
</div>
