.events .row{
    padding: 10px 5px;
    border-bottom: 1px solid #ccc;
}

.date {
    background-color: #ebba16;
    max-width: 70px;
    max-height: 70px
}

.date .dd {
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    line-height: 40px;
}

.date .mon {
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
}