<div class="container">
  <div class="events-container">
    <h3>Announcements on 09-07-2023</h3>
    <ul>
      <li>Required : Parish Office Assistant, Contact Parish Office</li>
      <li>
        Mount Carmel Youth Registrations are open, and Inauguration is scheduled
        on 23July for 9am Mass.
      </li>
      <li>
        Meeting for Church Pious Organisations Office Bearers and Sunday School
        Office Bearers to be held on 23rd July, after 9am Mass.
      </li>
      <li>
        Swaralaya Music Academy classes are starting on 01 August, Contact: Fr.
        Biju (8762942340)
      </li>
    </ul>
  </div>
</div>
