<div class="container">
  <div class="events-container">
    <h3>Announcements on 02-07-2023</h3>
    <ul>
      <li>
        Congratulations to the Newly Elected Trustees Santhosh Joseph Vazhayil,
        Reji Mathew Koozhampala, Raju Thomas Anthiyamkulam & Sijo John
        Plathottam who will take charge on 02-July-2023
      </li>
      <li>
        Feast of St. Thomas – Dukhrana will be commemorated on 03-July, Holy
        Mass will be held at 6:00am and 6:00pm. Holy Mass at Carmel Mercy Home
        will be held at 7pm.
      </li>
      <li>
        Our Forane Vicar – Rev Fr. Mark Nediyakalayi OCD has been appointed as
        the Director of Pithruvedi, Diocese of Mandya and will assume charge on
        03-July
      </li>
    </ul>
  </div>
</div>
