<div class="container">
  <div class="events-container">
    <h3>Announcements on 30-07-2023</h3>
    <ul>
      <li>
        Blood Donation Camp and Free Heart Checkup to be held on Sunday, 6th
        August , from 8:30am to 1pm at Avila Bhavan.
      </li>
      <li>
        Aradhana to be held on Sunday, 6th August at 8.30am led by Mathruvedhi
      </li>
      <li>
        St. Vincent De Paul Association - Carmelaram Unit has received
        International Accredetation.
      </li>
      <li>Required: Parish Office Assistant, Contact Parish Office</li>
      <li>
        Swaralaya Music Academy classes are starting on 01 August, Contact Fr.
        Biju (8762942340)
      </li>
    </ul>
  </div>
</div>
