<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <img
        src="../../../assets/img/banners/Carmel Mercy Home Highlight Light.jpg"
        class="img-fluid mainImg"
      />
    </div>
  </div>
  <div class="row">
    <div class="contentSection" id="contentSection">
      <h3>
        <i class="fa-solid fa-ribbon"></i>
        Carmel Mercy Home - History
      </h3>
      <p>
        Carmel Mercy Home for the aged is the charitable undertaking of the
        families of the Mount Carmel Forane Church, Carmelaram. This project is
        the faithful response of the parishioners to the words of Jesus, “I
        desire mercy, not sacrifice” (Mt 9:13). So its mission is to look after
        the elderly people with utmost care and empathy in a pleasant atmosphere
        to lead a peaceful life till their last journey. The foundation stone
        was laid on 8th December 2016 by Fr. Thomas Vadakkedath OCD, the first
        vicar of the Mt. Carmel Church, who wanted to provide services to the
        elderly for an active, dignified, and healthier life. Carmel Mercy Home
        (CMH) was blessed and inaugurated by Mar Sebastian Adayanthrath, the
        Bishop of Mandya on 2nd October 2021. Attached to this institute, a
        Divine Mercy Chapel was built, which was blessed by the then Bishop of
        Mandya Mar Anthony Kariyil CMI on 4th August 2019. The Mount Carmel
        Parish entrusted the pastoral and nursing care in the CMH to the
        Snehagiri Missionary Sisters (SMS). Accordingly, the superior of the SMS
        is one of the Trustees and director of CMH. CMH administration will be
        coordinated by governing body, administrative body (manager, director,
        assistant director secretary, & treasurer). Carmel Mercy Home Trust is
        responsible for the safety and security of the SMS at Carmel Mercy Home.
      </p>
    </div>
  </div>
  <div class="row">
    <h3>
      <i class="fa-solid fa-ribbon"></i>
      Mercy Home Trust Members
    </h3>
    <div class="row">
      <div class="col-lg-3">
        <app-profile-cards
          profileImgUrl="Fr_Mark_Nediyakalayil.jpg"
          profileName="Rev.Fr. Mark Nediyakalayil OCD"
          profileTitle=""
        ></app-profile-cards>
      </div>
      <div class="col-lg-3">
        <app-profile-cards
          profileImgUrl="fr_joy.jpg"
          profileName="Rev.Fr. Mathew Choorappanthyil OCD"
          profileTitle=""
        ></app-profile-cards>
      </div>
      <div class="col-lg-3">
        <app-profile-cards
          profileImgUrl="clare.jpeg"
          profileName="Rev.Sr. Clare Tom SMS"
          profileTitle=""
        ></app-profile-cards>
      </div>
      <br />
    </div>
    <div class="row">
      <div class="col-lg-3">
        <app-profile-cards
          profileImgUrl="senso.jpeg"
          profileName="Mr. Senso Thadatil"
          profileTitle=""
        ></app-profile-cards>
      </div>
      <div class="col-lg-3">
        <app-profile-cards
          profileImgUrl="thiofin.jpeg"
          profileName="Mr. Thiophine"
          profileTitle=""
        ></app-profile-cards>
      </div>
      <div class="col-lg-3">
        <app-profile-cards
          profileImgUrl="lissy.jpeg"
          profileName="Mrs. Lissy Paul"
          profileTitle=""
        ></app-profile-cards>
      </div>
      <div class="col-lg-3">
        <app-profile-cards
          profileImgUrl="bobby_joseph.jpg"
          profileName="Mr. Bobby Joseph Parassery"
          profileTitle=""
        ></app-profile-cards>
      </div>
    </div>
  </div>
  <div style="height: 30px"></div>
</div>
