<h3>
  <i class="fa-solid fa-ribbon"></i> Flos Carmeli
  <a href="flos-carmeli">
    <button type="button" class="btn btn-outline-primary">View All</button>
  </a>
</h3>
<div class="row">
  <div class="col-lg-4">
    <div class="pdf-preview">
      <div class="overlay">
        <a href="../../../../assets/img/sample.pdf" target="_blank">
          <i class="fa-solid fa-eye"></i>
        </a>
        <a href="../../../../assets/img/sample.pdf" download="download">
          <i class="fa-solid fa-file-arrow-down"></i>
        </a>
      </div>
      <img class="img-fluid thumbnail" src="../../../assets/img/flos.jpg" />
    </div>
  </div>
  <div class="col-lg-8">
    <p>
      Flos Carmeli is the parish bulletin distributed to each family of our
      parish. This monthly parish bulletin has become the quick guide to follow
      the parish news ever since its inception. The Bulletin covers Catholic
      news from parish, diocese, national and international levels. The book
      also covers various news and activities from the pious associations of the
      church. The editorial board is also open to collecting articles from the
      parishioners to publish in the bulletin.
    </p>
  </div>
</div>
