<h3>
  Flos Carmeli
  <button type="button" class="btn btn-outline-primary">View All</button>
</h3>
<div class="row">
  <div class="col-lg-4">
    <div class="pdf-preview">
      <a href="../../../../assets/img/sample.pdf" target="_blank">
        <div class="overlay">Preview</div>
        <img class="img-fluid" src="../../../assets/img/flos.jpg" />
      </a>
    </div>
  </div>
  <div class="col-lg-8">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Dictum at tempor
      commodo ullamcorper a lacus vestibulum sed. Maecenas ultricies mi eget
      mauris pharetra. Mi ipsum faucibus vitae aliquet nec ullamcorper sit amet
      risus. Sodales ut eu sem integer. Neque viverra justo nec ultrices dui
      sapien eget mi proin. Rhoncus aenean vel elit scelerisque. Faucibus a
      pellentesque sit amet porttitor eget. Maecenas pharetra convallis posuere
      morbi leo urna. Aliquet sagittis id consectetur purus ut faucibus
      pulvinar. Fermentum dui faucibus in ornare quam. Urna porttitor rhoncus
      dolor purus non enim praesent elementum. Turpis cursus in hac habitasse
      platea dictumst. Suscipit tellus mauris a diam maecenas sed enim ut sem.
      Nisi porta lorem mollis aliquam ut porttitor leo. Mattis aliquam faucibus
      purus in. Fusce ut placerat orci nulla pellentesque dignissim. Egestas
      diam in arcu cursus euismod quis viverra. Viverra accumsan in nisl nisi
      scelerisque. Nulla malesuada pellentesque elit eget.
    </p>
  </div>
</div>
