<div class="footer" id="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <h3>Quick Links</h3>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Gallery</a></li>
          <li><a href="#">Announcements</a></li>
          <li><a href="#">Upcoming Events</a></li>
        </ul>
        <h3>Office Timings</h3>
        <p>
          <b>Wednesday to Monday: </b><br />
          9:00AM - 1:00PM | 5:00PM - 07:30PM <br /><br />
          <b>Tuesday: Holiday</b>
        </p>
      </div>
      <div class="col-lg-4">
        <h3>Contact Details</h3>
        <p>
          <b>ADDRESS: </b><br />
          Carmelaram Mount Carmel Forane Church, <br />Carmelaram POST, Gunjur
          Road, Bengaluru, Karnataka, India. PinCode - 560035<br /><br />
          <b>Phone Number:</b><br />
          Contact of the Vicar: +91 9353183347<br />
          Parish office Secretary: +91 8951980414<br /><br />
          <b>Email ID: </b><br />
          Parish Priest: parishpriestcarmelaram@gmail.com<br />
          office: carmelaramchurch2009@gmail.com
        </p>
      </div>
      <div class="col-lg-4">
        <h3>Donations</h3>
        <div class="row">
          <div class="col-lg-5">
            <img
              src="../../../assets/img/donation.jpeg"
              alt="Donations"
              class="img-fluid"
            />
          </div>
          <div class="col-lg-7">
            <p>
              <b>Bank Details:</b><br />
              Account Number: 123456123456<br />
              IFSC Code: SIBL00075 <br />
              Branch: Sarjapura Branch
            </p>
            <h3>Social Media</h3>
            <p>
              <a href="https://www.youtube.com" target="_blank">
                <img
                  src="../../../assets/img/youtube.png"
                  style="height: 50px"
                />
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
    <hr />
    <p class="text-center text-light">
      copyright &copy; Mount Carmel Forane Church | 2023
    </p>
    <div class="scroll-up" (click)="scrollUpFn()">
      <i class="fa fa-caret-up" aria-hidden="true"></i>
    </div>
  </div>
</div>
