.logo-img{
    height: 5rem;
}

.navbar-collapse {
    border-top: 1px solid #eb661f;
    border-bottom: 1px solid #eb661f;
    text-transform: uppercase;
}

.navbar-expand-lg .navbar-nav .nav-link{
    color: #ebba16;
    font-weight: 500;
    padding-right: 25px;;
}

.navbar-expand-lg .navbar-nav .active{
    color: #eb661f;
    font-weight: 600;
}