<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <img src="../../../assets/img/bg1.jpg" class="img-fluid mainImg" />
    </div>
  </div>
  <div class="row">
    <div class="contentSection" id="contentSection">
      <h3>
        <i class="fa-solid fa-ribbon"></i>
        Diocese of Mandya
      </h3>
      <p>
        The Diocese of Mandya was erected by His Beatitude Varkey Caradinal
        Vithayathil, the then Major Archbishop of the Syro-Malabar Church, by
        his decree of erection Prot. No. 55/2010 on 18th January 2010,
        bifurcating the diocese of Mananthavady, after having obtained the
        consent of the Synod of the Bishops of the Syro-Malabar Church and the
        Assent of His Holiness Pope Benedict XVI. The Major Archbishop, Varkey
        Cardinal Vithayathil, by his decree Prot. No. 56/2010 of 18th January
        2010, has also appointed Rev. Msgr. George Njaralakatt belonging to the
        diocese of Mananthavady as the first bishop of this newly erected
        diocese.
        <br /><br />The eparchy of Mananthavady was erectd by His Holines Pope
        Paul VI, by the Bull Quanta Gloria of March I, 1973 bifurcating the vast
        diocese of Tellicherry. The eparchies of Tellicherry and Mananthavady
        were erected for the migrated people from the central Kerala. Population
        explosion and the shortage of food during the post war period
        (1945-1960) induced them to migrate to the uninhabited fertile lands of
        northern Kerala and to some isolated pockets of Tamilnadu and Karnataka
        States. <br /><br />These places were filled with thick forests and
        under the threat of malaria and other diseases. The migrated people,
        being agrarian, risking their own life cleared the forests and settled
        themselves cultivating paddy, rubber, coconut, coffee, cashew, pepper
        etc. <br /><br />The eparchy of Mananthavady was comprised of the civil
        districts of Wayanad and parts of the civil districts of Malappuram and
        Kannur in Kerala, the Nilgiris district in Tamilnadu and the districts
        of Shimoga, Chickmagalore, Hassan, Mandya, Mysore and Chamarajanagar in
        Karnataka. The parishes under the Manimooly Forane in Malappuram
        district and some parishes under the Peravoor Forane in Kannur district
        were later added to eparchy of Mananthavady on 31st December 1975 by the
        Oriental Congregation. Shimoga Mission Region which was entrusted to the
        Missionary Congregation of the Blessed Sacrament (MCBS) was erected as
        the eparchy of Bhadravathi on 21st August 2007 appointing Rev. Dr.
        Joseph Arumachadath MCBS as the first Bishop. Later on 18th January 2010
        the district of Chickmagalore was added to the diocese of Bhadravathi.
        The district of Mandya was entrusted to the pastoral care of the
        Missionary Society of St. Thomas (MST) and the district of Hassan was
        entrusted to the Congregation of the Carmelites of Mary Immaculate
        (CMI). Mysore and Chamarajanagar districts were under the direct
        pastoral care of the eparchy of Mananthavady. After the erection of the
        eparchy of Mandya all these mission regions come under it. The eparchy
        of Mandya is a suffragan of the Archdiocese of Tellicherry. Mar Jacob
        Thoomkuzhy, the first bishop of Mananthavady was consecrated on 1st May
        1973 and he guided the diocese for long 22 years. He was transferred to
        the eparchy of Thamarassery on 7th June 1995 and later to the
        Archdiocese of Trichur on 8th December 1996. On 26th January 1997 Bishop
        Emmanuel Pothanamuzhy CMI was consecrated as the second bishop of
        Mananthavady. He served the diocese only for six years. After his demise
        on 6th April 2003 Bishop Jose Porunnedom, the present Bishop, was
        appointed on 18th March 2004 and was consecrated as the third bishop of
        Mananthavady on 15th May 2004. <br /><br />From 1954 onwards the CMI
        fathers of the Sacred Heart Province of Kalamassery were working in
        Mysore under the then diocese of Tellicherry. The formal erection of the
        ‘Mission Region’ under the CMI was in 1965. In 1973 the diocese of
        Mananthavady was erected bifurcating the then diocese of Tellicherry and
        Mar Jacob Thoomkuzhy was appointed the first Bishop. In 1981 in order to
        facilitate the mission work of the district of Hassan, a contract was
        made between His Excellency Mar Jacob Thoomkuzhy and the then Prior
        General of the CMI Congregation. Thus the Hassan district was entrusted
        to St. Paul’s province of CMI, Mysore. Till the erection of the new
        diocese of Mandya they were rendering their service in Hassan. The CMI
        St. Paul’s Province has its headquarters at Mysore and they have some
        houses in the Mysore district. And the CMI fathers of St. Thomas
        Province, Kozhikode were working in the district of Chamarajanagar from
        the very beginning of the diocese of Tellicherry and they have two
        houses in the district. <br /><br />In 1978 by a mutual contract between
        Bishop Jacob Thoomkuzhy and the then Superior General of the Missionary
        Society of St. Thomas the Apostle (MST), the district of Mandya was
        entrusted to the MST fathers for missionary apostolate. The dedicated,
        selfless and hard work of these fathers enabled the growth of the
        mission. Today what the diocese of Mandya has in Mandya district is the
        result of the hard work of the MST society. They have handed over to the
        diocese 11 Mission stations with all the movable and immovable
        properties there in. Sisters belonging to different congregations such
        as SH, FCC, MSMI, MSJ, SCS, SKD, SMS, CMC and CHF also worked here hand
        in hand with the fathers for the growth of this mission region.
        <br /><br />From 1980 onwards priests from the diocese of Mananthavady
        were working in the Mysore district. The parishes, including the
        Cathedral church, and mission stations in Mysore districts are results
        of their dedicated service and hard work of these fathers. On August 29,
        2014 Bishop Mar Njaralakatt was elected by the Holy Synod of Syro
        Malabar Church as the Metropolitan Archbishop of Tellicherry as
        Archbishop Mar George Valiamttam tended his resignation upon reaching
        his retirement age. Bishop Njaralakatt was installed as the Archbishop
        on October 30, 2014 and assumed office on the same day. On Nov 2, 2014,
        Rev. Fr. George Alukka was appointed as the administrator of the diocese
        by Cardinal George Alenchery as suggested by the permanent synod of the
        Church. Administration of the Diocese of Mandya was vested with
        administrator till the new bishop Antony Kariyil CMI was appointed as
        the second bishop by the Church on 26 August, 2015, extending the
        territories of the eparchy up to Bengaluru. Bishop Kariyil was
        consecrated on October 18, 2015 and assumed the charge on the same day.
        <br /><br />The Diocese of Mandya which comprised of four civil
        districts of Mysuru, Chamrajnagara, Hassan and Mandya has been extended
        to include the six civil districts of Bengaluru region: Bengaluru urban,
        Bengaluru rural, Kolar, Ramnagara, Chikkaballapur and Tumkur. The
        catholic population of the diocese is above 1 lack. There are
        considerable number of Catholics belonging to the Latin dioceses of
        Bangaluru, Chickmagalore and Mysore. The rest of the population is
        mainly Hindus, Muslims, and people belonging to SC, ST. The Catholics of
        the diocese are mainly migrants from different part of Kerala. They came
        over here mainly in search of job opportunities, business and
        agriculture. <br /><br />The Diocese of Mandya comprises of seven
        Foranes. the Forane churches are Dharmaram – St. Thomas Forane Church,
        Jalahalli – St. Thomas Forane Church, Hongasandra-Holy Family Forane
        Church, Mathiere- St. Sebastian’s Forane Church, Sulthan Palya-St.
        Alphonsa Forane Church, Hinkal – Infant Jesus Cathedral Church and
        Carmelaram – Mount Carmel Forane Church.<br /><br />
        The churches and mass centres belonging to the Carmelaram Forane are
      </p>
      <ul>
        <li>Carmelaram Mount Carmel Forane Church</li>
        <li>Vailankani Matha Church, Harohalli</li>
        <li>St. Joseph’s Parish Church, Sarjapura</li>
        <li>St. Joseph’s Church, Alambady, Kolar</li>
        <li>Our Lady of Light Church, Chandapura</li>
        <li>Sacred Heart Mass Center, Whitefield</li>
        <li>Chapel of Divine Mercy, Carmel Mercy Home, Kodathi</li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-2 offset-lg-10">
      <button
        type="button"
        class="btn btn-outline-light readBtn"
        (click)="readBtnClick()"
      >
        {{ this.readText }}
        <i class="fa-solid fa-caret-{{ this.readIcon }}"></i>
      </button>
    </div>
  </div>
  <br />
</div>
