<h3>Enquiry</h3>
<div class="row">
  <form #contactForm="ngForm" (ngSubmit)="submitForm()">
    <div class="input-group">
      <span class="input-group-text" id="basic-addon1"
        ><span class="material-symbols-outlined">person</span></span
      >
      <input
        type="text"
        class="form-control"
        placeholder="First Name"
        aria-label="First Name"
        aria-describedby="basic-addon1"
        name="firstName"
        required
      />
    </div>
    <div class="input-group">
      <span class="input-group-text" id="basic-addon1"
        ><span class="material-symbols-outlined">mail</span></span
      >
      <input
        type="email"
        class="form-control"
        placeholder="Email ID"
        aria-label="Email ID"
        aria-describedby="basic-addon1"
        name="emailId"
        required
        email
      />
    </div>
    <div class="input-group">
      <span class="input-group-text" id="basic-addon1"
        ><span class="material-symbols-outlined">phone_iphone</span></span
      >
      <input
        type="tel"
        class="form-control"
        placeholder="Contact no"
        aria-label="Contact no"
        aria-describedby="basic-addon1"
        name="contactNo"
        required
        [valueAsNumber]
      />
    </div>
    <div class="input-group">
      <span class="input-group-text"
        ><span class="material-symbols-outlined">chat</span></span
      >
      <textarea
        class="form-control"
        aria-label="With textarea"
        placeholder="Your comment here"
        name="comment"
        required
      ></textarea>
    </div>
    <div class="row">
      <div class="col">
        <div class="input-group">
          <button class="btn btn-outline-secondary" type="button">
            Cancel
          </button>
        </div>
      </div>
      <div class="col">
        <div class="input-group">
          <button
            type="submit"
            class="btn btn-outline-primary btn-send"
            [disabled]="!contactForm.valid"
          >
            Submit
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
