<div class="col-lg-12 d-none d-sm-block litergy-section">
  <svg viewBox="0 0 1540 670">
    <path
      fill="#fff"
      fill-opacity="0.8"
      d="M 1540 0 L 1540 670 L 950 670 L 1150 000 L 0 0 Z"
    ></path>
  </svg>
  <div class="content">
    <h3><i class="fa-solid fa-ribbon"></i> Liturgy Timings</h3>
    <h5>Holy Mass</h5>
    <p><b>Monday - Saturday :</b> 6:00AM | 6:00PM</p>
    <p>
      <b>Sunday :</b> 6:30AM | 9:00AM | *11:00AM [Malayalam] <br /><br /><br />
      <span style="visibility: hidden">Sunday : &nbsp;</span>5:30PM
      [English]<br /><br /><br /><br />
      <b>*Second Sunday : </b> 11:00AM [English]<br />
    </p>
    <h5>Novena of Infant Jesus</h5>
    <p><b>Thursday :</b> 6:45AM | 6:45PM</p>
    <h5>Novena of Mother of Perpetual Help</h5>
    <p><b>Saturday :</b> 6:45AM | 6:45PM</p>
  </div>
</div>
