<div class="container">
  <div class="banner">
    <img src="../../../assets/img/bg1.jpg" alt="BG Image" class="img-fluid" />
    <app-litergy></app-litergy>
  </div>
  <app-scroller></app-scroller>
  <div class="row" style="margin: 10px 0">
    <div class="col-lg-8">
      <h3>Vicar's Message</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Turpis egestas
        pretium aenean pharetra. Tempor commodo ullamcorper a lacus vestibulum
        sed arcu non odio. At elementum eu facilisis sed odio morbi quis
        commodo. Convallis a cras semper auctor neque vitae tempus. Donec et
        odio pellentesque diam volutpat commodo sed. Faucibus et molestie ac
        feugiat sed lectus vestibulum mattis ullamcorper. Id interdum velit
        laoreet id donec ultrices tincidunt. Id ornare arcu odio ut sem nulla
        pharetra diam sit. Faucibus pulvinar elementum integer enim neque
        volutpat. Lobortis feugiat vivamus at augue eget. Condimentum mattis
        pellentesque id nibh tortor. Commodo ullamcorper a lacus vestibulum sed
        arcu. Dui faucibus in ornare quam viverra orci sagittis eu. In vitae
        turpis massa sed. <br /><br />
        Curabitur vitae nunc sed velit dignissim. Non enim praesent elementum
        facilisis leo vel fringilla est ullamcorper. Vitae purus faucibus ornare
        suspendisse sed nisi. Augue eget arcu dictum varius duis at consectetur.
        Scelerisque felis imperdiet proin fermentum. Diam quis enim lobortis
        scelerisque. Feugiat scelerisque varius morbi enim nunc faucibus. Vitae
        tempus quam pellentesque nec. Purus gravida quis blandit turpis. Arcu
        bibendum at varius vel pharetra vel.
      </p>
    </div>
    <div class="col-lg-4">
      <app-upcoming-events></app-upcoming-events>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <h3>Flos Carmeli</h3>
      <div class="row">
        <div class="col-lg-4">
          <img
            class="img-fluid"
            src="../../../assets/img/flos.jpg"
            style="height: 500px"
          />
        </div>
        <div class="col-lg-8">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Dictum
            at tempor commodo ullamcorper a lacus vestibulum sed. Maecenas
            ultricies mi eget mauris pharetra. Mi ipsum faucibus vitae aliquet
            nec ullamcorper sit amet risus. Sodales ut eu sem integer. Neque
            viverra justo nec ultrices dui sapien eget mi proin. Rhoncus aenean
            vel elit scelerisque. Faucibus a pellentesque sit amet porttitor
            eget. Maecenas pharetra convallis posuere morbi leo urna. Aliquet
            sagittis id consectetur purus ut faucibus pulvinar. Fermentum dui
            faucibus in ornare quam. Urna porttitor rhoncus dolor purus non enim
            praesent elementum. Turpis cursus in hac habitasse platea dictumst.
            Suscipit tellus mauris a diam maecenas sed enim ut sem. Nisi porta
            lorem mollis aliquam ut porttitor leo. Mattis aliquam faucibus purus
            in. Fusce ut placerat orci nulla pellentesque dignissim. Egestas
            diam in arcu cursus euismod quis viverra. Viverra accumsan in nisl
            nisi scelerisque. Nulla malesuada pellentesque elit eget.

            <br /><br />Consequat ac felis donec et odio pellentesque diam
            volutpat. Tortor at risus viverra adipiscing at in tellus. Integer
            eget aliquet nibh praesent tristique magna sit amet purus. Aliquam
            faucibus purus in massa tempor. Ac tortor vitae purus faucibus
            ornare suspendisse sed. Vulputate ut pharetra sit amet aliquam id
            diam. Aliquam purus sit amet luctus venenatis. Amet consectetur
            adipiscing elit pellentesque habitant. Enim facilisis gravida neque
            convallis a cras semper. A cras semper auctor neque vitae. Nisl
            purus in mollis nunc sed id. Lobortis feugiat vivamus at augue. In
            cursus turpis massa tincidunt dui. Est ante in nibh mauris cursus.
            Eros donec ac odio tempor orci dapibus ultrices in iaculis. Est
            placerat in egestas erat imperdiet sed. Dictumst quisque sagittis
            purus sit amet. Vel facilisis volutpat est velit egestas dui id
            ornare. Mattis nunc sed blandit libero volutpat sed cras ornare.

            <br /><br />Justo laoreet sit amet cursus sit. Pellentesque elit
            ullamcorper dignissim cras tincidunt lobortis. Tortor id aliquet
            lectus proin nibh nisl condimentum. Aenean et tortor at risus
            viverra adipiscing at. Mattis rhoncus urna neque viverra justo nec
            ultrices dui sapien. Nec tincidunt praesent semper feugiat nibh sed
            pulvinar proin gravida. Sapien pellentesque habitant morbi
            tristique. Id consectetur purus ut faucibus. Tempor id eu nisl nunc
            mi. Nullam non nisi est sit amet facilisis magna etiam. Cursus metus
            aliquam eleifend mi in nulla posuere sollicitudin aliquam. Amet
            venenatis urna cursus eget. Magna sit amet purus gravida quis
            blandit. Mi in nulla posuere sollicitudin aliquam ultrices sagittis
            orci. Suspendisse in est ante in nibh mauris.

            <br /><br />Ornare massa eget egestas purus viverra accumsan in
            nisl. Curabitur vitae nunc sed velit. Vitae tortor condimentum
            lacinia quis vel eros donec. Gravida rutrum quisque non tellus orci
            ac auctor augue mauris. Vitae semper quis lectus nulla. Dapibus
            ultrices in iaculis nunc sed augue lacus. Ut porttitor leo a diam
            sollicitudin tempor id. Nisi vitae suscipit tellus mauris. Magna
            eget est lorem ipsum dolor sit. Massa sed elementum tempus egestas
            sed sed risus pretium.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
