<h3>Gallery</h3>
<div class="row">
  <div class="col-lg-4">
    <div class="card">
      <img
        class="card-img-top"
        src="../../../../assets/img/profile.jpg"
        alt="Title"
      />
    </div>
  </div>
  <div class="col-lg-4">
    <div class="card">
      <img
        class="card-img-top"
        src="../../../../assets/img/profile.jpg"
        alt="Title"
      />
    </div>
  </div>
  <div class="col-lg-4">
    <div class="card">
      <img
        class="card-img-top"
        src="../../../../assets/img/profile.jpg"
        alt="Title"
      />
    </div>
  </div>
</div>
