<owl-carousel-o [options]="customOptions">
  <ng-template carouselSlide>
    <div class="slide">
      <img
        [lazyLoad]="'../../../../assets/img/banners/Right Side View.jpg'"
        alt="BG Image"
        class="img-fluid"
      />
    </div>
  </ng-template>
  <ng-template carouselSlide>
    <div class="slide">
      <img
        [lazyLoad]="'../../../../assets/img/banners/Banner-Feast-18-Jan.jpg'"
        alt="BG Image"
        class="img-fluid"
      />
    </div>
  </ng-template>
  <ng-template carouselSlide>
    <div class="slide">
      <img
        [lazyLoad]="'../../../../assets/img/banners/Banner-Peter-Achan.jpg'"
        alt="BG Image"
        class="img-fluid"
      />
    </div>
  </ng-template>
</owl-carousel-o>
