<owl-carousel-o [options]="customOptions" class="mainCarousel">
  <ng-template carouselSlide id="owl-slide-1" dataHash="one">
    <div class="slide">
      <img
        [lazyLoad]="'../../../../assets/img/banners/career_planning.jpg'"
        alt="BG Image"
        class="img-fluid"
      />
    </div>
  </ng-template>
  <ng-template carouselSlide id="owl-slide-1" dataHash="one">
    <div class="slide">
      <img
        [lazyLoad]="'../../../../assets/img/banners/annual_retreat.jpg'"
        alt="BG Image"
        class="img-fluid"
      />
    </div>
  </ng-template>
  <ng-template carouselSlide id="owl-slide-1" dataHash="one">
    <div class="slide">
      <img
        [lazyLoad]="'../../../../assets/img/banners/elders_leisure.jpg'"
        alt="BG Image"
        class="img-fluid"
      />
    </div>
  </ng-template>
  <!-- <ng-template carouselSlide id="owl-slide-2" dataHash="two">
    <div class="slide">
      <img
        [lazyLoad]="'../../../../assets/img/banners/Front View.jpg'"
        alt="BG Image"
        class="img-fluid"
      />
    </div>
  </ng-template> -->
  <!-- <ng-template carouselSlide>
    <div class="slide">
      <img
        [lazyLoad]="'../../../../assets/img/banners/Back Painting.jpg'"
        alt="BG Image"
        class="img-fluid"
      />
    </div>
  </ng-template> -->
</owl-carousel-o>
