<owl-carousel-o [options]="customOptions" class="mainCarousel">
  <ng-template carouselSlide id="owl-slide-1" dataHash="one">
    <div class="slide">
      <img
        [lazyLoad]="'../../../../assets/img/banners/Christmas_Banner_2.jpg'"
        alt="BG Image"
        class="img-fluid"
      />
    </div>
  </ng-template>
  <ng-template carouselSlide id="owl-slide-1" dataHash="one">
    <div class="slide">
      <img
        [lazyLoad]="'../../../../assets/img/banners/Cake_Mela_Banner.jpg'"
        alt="BG Image"
        class="img-fluid"
      />
    </div>
  </ng-template>
  <ng-template carouselSlide id="owl-slide-2" dataHash="two">
    <div class="slide">
      <img
        [lazyLoad]="'../../../../assets/img/banners/Right Side View.jpg'"
        alt="BG Image"
        class="img-fluid"
      />
    </div>
  </ng-template>
  <ng-template carouselSlide id="owl-slide-3" dataHash="three">
    <div class="slide">
      <img
        [lazyLoad]="'../../../../assets/img/banners/Front View.jpg'"
        alt="BG Image"
        class="img-fluid"
      />
    </div>
  </ng-template>
  <!-- <ng-template carouselSlide>
    <div class="slide">
      <img
        [lazyLoad]="'../../../../assets/img/banners/Back Painting.jpg'"
        alt="BG Image"
        class="img-fluid"
      />
    </div>
  </ng-template> -->
</owl-carousel-o>
