 p {
    min-height: 3.5rem;
    margin-bottom: 2px;
}

.read-more {
    padding: 3px;
    float: right;
    font-size: 12px;
}

h6{
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 30px;
}