<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <img src="../../../assets/img/bg1.jpg" class="img-fluid mainImg" />
    </div>
  </div>
  <div class="row">
    <div class="contentSection" id="contentSection">
      <h3>
        <i class="fa-solid fa-ribbon"></i>
        Carmelaram Mount Carmel Forane Church - History
      </h3>
      <p>
        The historic development of the Mount Carmel Forane Catholic Church is
        very much related with the arrival of Discalced Carmelite Fathers (OCD)
        to this part of Bangalore. With the permission of His Grace Most Rev.
        Dr. Thomas Pothackamury Archbishop of Bangalore and of the General
        Definitory of the Order of Discalced Carmelites (OCD) in Rome, fathers
        of the Malabar Province came to Bangalore, purchased a plot of land, and
        started a small community at Ulsoor in 1954. In accordance with a
        proposal from the General superiors to start a theological college for
        the Malabar semi-province, the OCD Fathers purchased a large plot of
        land at a place where three revenue villages, namely Chikkabellandur,
        Gunjur, and Doddakannelli join. The plot of land with the small
        residence in Ulsoor was sold when the Carmelite house was shifted to the
        newly purchased plot of land in 1962. Two fathers began to reside in a
        small house already existing in the land. The Carmelite Fathers named
        this place as Carmelaram.

        <br /><br />There was a small Catholic community in Kodathy known as St
        Anthony’s Church, for the families of Kodathi, Dommasandra, Suligunte,
        Doddakanelli and so on. It was taken care of by the Franciscan fathers
        of the Friary Church from Madiwala. The pastoral care the Kodathy
        Mission was entrusted to the Carmelite Fathers by Most Rev. Dr. Simon
        Lourduswamy, the Archbishop of Bangalore. The Archbishop Lourduswamy
        erected the Kodathi Mission Unit on 13th February1968 and appointed Fr
        Paul Poovatil OCD as the priest-in charge.

        <br /><br />When the Carmelite Fathers built a Chapel for the theology
        college and was blessed by the Archbishop Lourduswamy in 1974, he
        permitted the superiors of the Malabar Province to take care of the
        spiritual needs of the Catholics of the neighbouring places of
        Carmelaram. Since then this chapel served as a semi-public chapel
        offering spiritual services to the faithful as well as to the religious
        residing around the Carmelararam theology college. As the Theology
        College started functioning, the Kodathy Mission Unit also began to be
        more activated because of the involvement of theology students helping
        the Priest-in-charge. The fathers of Carmelaram brought one couple from
        Mannanam, PC. Kurian, Peediackal, and his wife Kuttiamma Kurian to help
        them in the management of the Construction works as well as supervision
        of Agricultural works of the College. This was the fi rst Syro-Malabar
        Catholic family of Carmelaram.

        <br /><br />The Carmelite fathers collaborated with the Priestin-charge
        of Kodathy to develop the Mission and also local place. Later about two
        acres of land in Dommasandra were purchased for the construction of a
        chapel in Dommasandra. Subsequently a chapel was constructed and it was
        blessed on November 15, 1985. As result of their initiatives more
        religious communities started their houses in this place so as to help
        the Mission by rendering medical, educational, Charitable and social
        services for the people of the place, irrespective of religious
        diversity. Among the religious communities that settled in this mission
        area, were the CSN sisters and the CMC sisters who started clinics and
        tailoring schools in Kodathy and Dommasandra church.

        <br /><br />The fathers of Carmelaram initiated the establishment of a
        Postal Department, a telephone exchange, and a railway station with the
        name Carmelaram for the use of the local people. They started a
        deaddiction centre titled TREDA for treating people with addictions.
        After a strenuous eff ort of the Fathers, Karnataka government
        sanctioned two acres of land adjacent to the Kodathy Mission for
        cemetery for the Christians of this region.

        <br /><br />In 2009, Mar Gratian Mundadan CMI, Bishop of Bijnor, and the
        apostolic Visitator for the Syro Malabar Catholics visited Carmelaram
        and celebrated Holy Mass for them. Seeing the fast increase in the
        number of the families of Syro-Malabar Church, He advised the faithful
        to submit a petition to the Archbishop of Bangalore requesting his Grace
        to erect a Syro-Malabar parish for them. Accordingly, a petition signed
        by about 125 heads of the families was submitted to the Archbishop of
        Bangalore, Rev. Dr Bernard Moras. He accepted the proposal on the
        condition that Malabar Province would provide sufficient land for the
        parish and priest for the service. Accepting the proposal, Rev Fr.
        Sebastian Koodapat OCD, and then provincial of Malabar Province, in
        consultation with his counsel and Carmelaram Theology College community
        donated two acres of land for the parish ‘ad usum’ and presented Rev Fr.
        Thomas Vadakedath OCD as the Parish Priest. After due consultations and
        canonical procedures, the Archbishop erected a semi public parish under
        the title of Our Lady of Mount Carmel for Syro-Malabar Catholics,
        temporarily functioning in the chapel of Carmelaram Theology College.
        Rev. Fr Thomas Vadakedath OCD was appointed as the first parish priest
        of the Mount Carmel Church, Carmelaram. The inauguration and the
        installation of the parish priest took place on Pentecost Sunday, 31 May
        2009.

        <br /><br />On December 11th 2012, it was shifted to a temporary church
        built on the land donated by the Malabar Province OCD for the use. Rt.
        Rev. Dr. Mar Antony Kariyil CMI, the Bishop of Mandya Diocese erected it
        as a full-fledged independent parish under the title Our Lady of Mount
        Carmel Church on 15 January 2013. The construction of a new church began
        in 2013 and was blessed on 23 January 2016. A major portion of the
        finance of the construction of the church came from the Carmel Layout
        project led by Fr. Thomas Vadakedath himself.

        <br /><br />Carmelaram Mount Carmel Church is registered as a public
        trust on 26 April 2017, having its office at Mt. Carmel Parish Church.
        And on 21st November 2021 it was raised as a Forane Church of the Mandya
        Diocese by its Bishop Rt. Rev Dr. Mar Sebastian Adayanthrath. As the
        number of parishioners increased and as its territory expanded, it
        established two more parishes - Velankanny Matha Parish Muthanallur and
        St. Joseph Parish Sarjapura. Mount Carmel Forane Parish built a Divine
        Mercy Chapel at Kodathy, which was blessed by then Bishop of Mandya
        Diocese, Mar Anthony Kariyil CMI on 4th August 2019. On the second and
        third floor of the Chapel, it runs a charitable institute called Carmel
        Mercy Home (CMH) for the aged which was blessed and inaugurated by Mar
        Sebastian Adayanthrath, the Bishop of Mandya diocese on 2nd October
        2021. In 2022, the parish started converting the structure of the old
        Church as a multipurpose auditorium.

        <br /><br />Today as per the record of the Mt Carmel Forane Parish
        register 2022, it consists of 825 Families, 700 Catechism Students, one
        theology college four Convents, 31 Wards, 15 Pious Associations, a two
        story rectory, one parish Hall, Mt Carmel Auditorium, and a Carmel Mercy
        Home for the aged. The parish ever remains grateful to Rev Fr Sebastian
        Koodapat OCD, then provincial of Malabar province, and to its Carmelaram
        Theology Community for their unparalleled contributions to the material,
        spiritual and pastoral development of the Parish. However, the history
        of the Mt Carmel Forane Church cannot ignore the assiduous, untiring,
        and sedulous contributions of Fr. Thomas Vadakedath OCD, who deserves
        the credit for building a beautiful Mt. Carmel Forane Church, a well
        furnished rectory, and for forming a strong and faith-fi lled lay
        community. Followed by the fi rst parish Priest Fr. Thomas Vadakedath
        OCD, Fathers Jacob Vadakkel, Joseph Thekeparavelil, Thomas Pulickal, and
        Francis Kizhakemyalil served the parish as its pastors. At present Fr.
        Mark Nediyakalayil OCD is the Forane Vicar and Mathew Kuzhinjalil and
        Peter Thachethu are the Assistant Vicars. Mt Carmel Forane Church
        belongs to the Mandya Diocese and Mar Sebastian Adayanthrath is its
        present Bishop.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-2 offset-lg-10">
      <button
        type="button"
        class="btn btn-outline-light readBtn"
        (click)="readBtnClick()"
      >
        {{ this.readText }}
        <i class="fa-solid fa-caret-{{ this.readIcon }}"></i>
      </button>
    </div>
  </div>
  <div class="row">
    <h3>
      <i class="fa-solid fa-ribbon"></i>
      Parish Vicar's
    </h3>
    <div class="col-lg-3">
      <app-profile-cards
        profileImgUrl="profile.jpg"
        profileName="Mr. Perara"
        profileTitle="Vicar"
      ></app-profile-cards>
    </div>
    <div class="col-lg-3">
      <app-profile-cards
        profileImgUrl="profile.jpg"
        profileName="Mr. Perara"
        profileTitle="Vicar"
      ></app-profile-cards>
    </div>
    <div class="col-lg-3">
      <app-profile-cards
        profileImgUrl="profile.jpg"
        profileName="Mr. Perara"
        profileTitle="Vicar"
      ></app-profile-cards>
    </div>
  </div>
  <div class="row">
    <h3>
      <i class="fa-solid fa-ribbon"></i>
      Parish Trustee's
    </h3>
    <div class="col-lg-3">
      <app-profile-cards
        profileImgUrl="profile.jpg"
        profileName="Mr. Perara"
        profileTitle="Vicar"
      ></app-profile-cards>
    </div>
    <div class="col-lg-3">
      <app-profile-cards
        profileImgUrl="profile.jpg"
        profileName="Mr. Perara"
        profileTitle="Vicar"
      ></app-profile-cards>
    </div>
    <div class="col-lg-3">
      <app-profile-cards
        profileImgUrl="profile.jpg"
        profileName="Mr. Perara"
        profileTitle="Vicar"
      ></app-profile-cards>
    </div>
    <div class="col-lg-3">
      <app-profile-cards
        profileImgUrl="profile.jpg"
        profileName="Mr. Perara"
        profileTitle="Vicar"
      ></app-profile-cards>
    </div>
  </div>
  <div class="row">
    <h3>
      <i class="fa-solid fa-ribbon"></i>
      Parish Office Staff
    </h3>
    <div class="col-lg-3">
      <app-profile-cards
        profileImgUrl="profile.jpg"
        profileName="Mr. Perara"
        profileTitle="Vicar"
      ></app-profile-cards>
    </div>
    <div class="col-lg-3">
      <app-profile-cards
        profileImgUrl="profile.jpg"
        profileName="Mr. Perara"
        profileTitle="Vicar"
      ></app-profile-cards>
    </div>
    <div class="col-lg-3">
      <app-profile-cards
        profileImgUrl="profile.jpg"
        profileName="Mr. Perara"
        profileTitle="Vicar"
      ></app-profile-cards>
    </div>
  </div>
  <div style="height: 30px"></div>
</div>
